body {
    font-size: 30px;
}
img {
    border: 5px solid green;
    width: 1500px;
    max-width: 1400px;
}
h1, p{
    border: 5px solid blue;
    text-align: center;
}
#image-box {
    text-align: center;
}
p {
    font-size: 3rem;
}
.para-box {
    font-size: 12px;
}
body div {
    background-color: pink;
}