body {
    background-color: #f792be;
}
header div {
    background-color: #f792be;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    background-color: #f792be;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
h1:hover { 
    color:black;
}
p {
    background-color: #f792be;
    text-align: center;
}
img {
    width: 200px;
    max-width: 1400px;
}
#image-box {
    text-align: center;
}
body div {
    background-color: #f792be;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    background-color: #f792be;
}